body {
  background-color: #69878f;
  color: #e4e8ec;
}
.btn {
  cursor: pointer;
}
.clicked{
  color: #7f8c8d;
}
.js-clock{
  font-size:80px;
  padding-left: 35vw;
}
.form,
.greetings{
  display: none;
  padding-left: 40vw;
  font-size: 70px;
}

.showing 
{
  display: block;
}

@keyframes fadeIn{
  from{
    opacity: 0;
  }
  to{
    opacity: 1;
  }
}

.bgImage{
  position: absolute;
  top:0;
  left:0;
  width:100%;
  height: 100%;
  z-index: -1;
  animation: fadeIn .3s linear;
}

